{% extends "store/main.html" %}
{% load static %}
{% block content %}
<div class="row">
    <!-- class = “col-{prefix}-{columns}” {columns}は合計が12に -->
    <!-- https://qiita.com/akatsuki174/items/53b7367b04ed0b066bbf -->
    <div class="col-lg-6">
      <div class="box-element" id="form-wrapper">
        <div id="form">
          <div id="user-info">
            <div class="form-field">
              <input required class="form-control" type="text" name="name" placeholder="氏名..">
            </div>
            <div class="form-field">
              <input required class="form-control" type="email" name="email" placeholder="メール..">
            </div>
          </div>
          <div id="shipping-info">
            <hr>
            <p>配送情報:</p>
            <hr>
            <div class="form-field">
              <input class="form-control" type="text" name="address" placeholder="住所..">
            </div>
            <!-- <div class="form-field">
              <input class="form-control" type="text" name="city" placeholder="City..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text" name="state" placeholder="State..">
            </div> -->
            <div class="form-field">
              <input class="form-control" type="text" name="zipcode" placeholder="郵便番号..">
            </div>
          </div>
          <hr>
          <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
        </div>
      </div>
      <br>
      <div class="box-element hidden" id="payment-info">
        <small>Paypal Options</small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box-element">
        <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; カートに戻る</a>
        <hr>
        <h3>注文情報</h3>
        <hr>
        <div class="cart-row">
          <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
          <div style="flex:2"><p>Product 1</p></div>
          <div style="flex:1"><p>$20.00</p></div>
          <div style="flex:1"><p>x2</p></div>
      </div>
        <h5>数量:   2</h5>
        <h5>合計:   $4</h5>
    </div>
</div>
{% endblock content %}
