{% extends "store/main.html" %}
{% load static %}
{% block content %}
<div class="row">
    <!-- class = “col-{prefix}-{columns}” {columns}は合計が12に -->
    <!-- https://qiita.com/akatsuki174/items/53b7367b04ed0b066bbf -->
    <div class="col-lg-6">
      <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
      <div class="box-element product">
        <h6><strong>自家製玄米甘酒生ドレッシング</strong></h6>
        <hr>
        <button type="button" class="btn btn-outline-secondary add-btn">カートにいれる</button>
        <a class="btn btn-outline-success" href="#">詳細</a>
        <h4 style="display: inline=block;float: right">￥2000</h4>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
      <div class="box-element product">
        <h6><strong>HEARTOFU（ハートーフ）</strong></h6>
        <hr>
        <button type="button" class="btn btn-outline-secondary add-btn">カートにいれる</button>
        <a class="btn btn-outline-success" href="#">詳細</a>
        <h4 style="display: inline=block;float: right">￥2000</h4>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
      <div class="box-element product">
        <h6><strong>ナチュラルスイートスイーツDVD講座I</strong></h6>
        <hr>
        <button type="button" class="btn btn-outline-secondary add-btn">カートにいれる</button>
        <a class="btn btn-outline-success" href="#">詳細</a>
        <h4 style="display: inline=block;float: right">￥2000</h4>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
      <div class="box-element product">
        <h6><strong>シンプルモダンマクロビオティック</strong></h6>
        <hr>
        <button type="button" class="btn btn-outline-secondary add-btn">カートにいれる</button>
        <a class="btn btn-outline-success" href="#">詳細</a>
        <h4 style="display: inline=block;float: right">￥2000</h4>
      </div>
    </div>
  </div>
{% endblock content %}
